*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(20, 115, 155);
    opacity:.8;
    overflow: auto;
    position: fixed;
    z-index: 99;
}
.logo_img{
    width: 120px;
    height: 60px;
    margin-left: 100px;
    float: left;
}
.list{
    float:right;
    font-size: 35px;
    margin-right:5% ;
    margin-top: .5%;
    text-align: center;
}
li a{
    text-decoration: none;
    color: aliceblue;
}
li a:hover{
   background-color: rgb(5, 53, 72);
    /* color: rgb(11, 12, 13); */
    color: aliceblue;
    padding: 11px;
}
.header li{
    display: inline-block;
    padding-right: 20px;
    list-style-type: none;
}
/* ////////////////////////////////////////////////////////////////// */
.hero_section{
    width: 100%;
    height: 100vh;
    top: 0;
    background-image: url(../images/christoph-schulz-wJ6xyh1YMxU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.overlay_hero{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
}
.content_hero{
    text-align: center;
    line-height: 1.5;
    color: aliceblue;

    /*hero image*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}
.company{
    font-size: 60px;
}
.para_company{
    font-size: 25px;
}
.btn1{
    padding: 15px;
    width: 160px;
    height: 55px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(8, 134, 183);
    color:rgb(8, 134, 183);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.btn1:hover{
background-color: rgba(201, 201, 201, 0.9);

}

.btn{
    padding: 15px;
    width: 160px;
    height: 55px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(8, 134, 183);
    color:aliceblue;
    background-color: rgb(8, 134, 183);
    border-radius: 10px;
}
.btn:hover{
    background-color: rgba(6, 6, 6, 0.9);
    }

/* ////////////////////////////////////////////////////////////////// */

.welcom{
    padding: 5% 0;
    text-align: center;
    margin-bottom: 5%;
}
.welcom_head {
    margin-bottom: 70px;

}
.welcom_head h2{
    font-size: 40px;
}
.line{
    margin: auto;
   margin-top: 5px;
    width: 75px;
    height: 6px;
    margin-bottom: 10px;
    background-color:rgb(11, 169, 232);
}
.container{
    /* width: 70%;
    margin: auto; */
   overflow: auto;  
   padding-left: 5%;
}
.fully{
    float: left;
    border: 3px solid rgb(12, 90, 121);
    padding: 3%;  
    position: relative;
}
.fully1{
    float: left;
    border: 3px solid rgb(12, 90, 121);  
    margin:0% 5%  ;
    padding: 3%;  
    position: relative;
}
.fully_paragraph{
    font-size: 25px;
}
#setting{
    color: rgb(7, 122, 217);
    font-size: 30px;
}
.container a{
    text-decoration: none;
    color: rgb(7, 122, 217);
}
.container p{
    margin: 10px 0px;
    word-spacing: 2px;
}
.fully::before ,.fully1::before {
    position: absolute;
    content: "";

    width: 100% ;
    height: 0 ;

    top: 0;
    left: 0;

    background-color: rgb(93, 177, 207) ;
    opacity: 0;
    transition: 1s;
}
.fully:hover::before ,.fully1:hover::before  {
    width: 100%;
    height: 100%;
    opacity: 0.3 ;
}

/* ////////////////////////////////////////////////////////////////// */
.about{
    overflow: auto;
    margin: 6% 0%;
       position: relative;
}

.travel_about{
    float: left;
    margin-left: 6%;
    margin-top: 2%;
}
.about_us{
    font-size: 40px;
    margin-bottom: 30px;
}
.para_about{
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.read_more{
    width: 150px;
    height: 45px;
    padding: 4px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(8, 134, 183);
    color:rgb(8, 134, 183);
    background-color: rgb(255, 255, 255);
}
.read_more:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(8, 134, 183);
} 
.image_about{
    width: 600px;
    float: right;
    margin-right: 5%;
    transition: 1s ;   
}

.image_about:hover{
    border: 2px solid rgba(7, 122, 223, 0.7) ;
    width: 620px;
    background-color: rgba(0, 0, 0, .9);
}
.about_circ{
    overflow: auto;
    margin-top: -100px;
    margin-bottom: 10%;
    margin-left: 78%;
}
.aboutt_circ{
    float: left;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(11, 127, 235);
    margin-right: 5px; 
}
.aboutt_circ1 , .aboutt_circ2{
    float: left;
    width: 13px;
    height: 13px;
    border-radius: 50%;
   background-color: rgba(178, 178, 178, 0.9);
    margin-right: 5px;
}
.aboutt_circ1:hover , .aboutt_circ2:hover{
    background-color: rgb(11, 127, 235);
}
/* ////////////////////////////////////////////////////////////////// */

.advantages_travel{
    text-align: center;
    margin-bottom: 6%;
}
.great_adv{
    margin-bottom: 5%;
}
.greatest_header{
    font-size: 40px;
    color: rgb(18, 17, 17);
}
.para_adv{
    font-size: 20px;
}
.adv{
    float: left;
    margin-right: 5%;
}
.adv p{
    font-size: 18px;
}
.plans{
    color: rgb(7, 122, 217);
    font-size: 50px;
}
.advantages{
    width: 65%;
  margin: auto;
    overflow: auto;

}
.advantages_travel h3{
    padding-top: 5%;
    font-size: 27px;
}
/*///////////////////////////////////////////////////////////////*/
.holiday{
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-image: url(../images/observation-urban-building-business-steel_1127-2397.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 3%;
    text-align: center;
}

.overlay_holiday{
    background-color: rgba(0, 0, 0, 0.7);
}
#ic{
    font-size: 60px;
    color: rgb(55, 200, 253);
    margin-bottom: 10px;
}
#ic:hover{
    color: rgb(170, 232, 255);
}
.holidays{
color: #fff;
font-size: 35px;
padding-top:30px;
font-family:Arial, Helvetica, sans-serif;
}
.dream{
    color: #d2d2d2;
    margin-top: 7px;
    font-size: 20px;
    }

.icons_holiday{
    width: 70%;
    overflow: auto;
    padding: 7%;
    text-align: center;
    margin: auto;
    font-size: 30px;
    color: rgb(153, 153, 153);
    
}
.ico_holiday{
    float: left;
    margin-right: 7%;

}
.circle1{
    width: 130px;
    height: 130px;
    border-radius:50%;
    border: 2px solid rgb(8, 134, 183);
    margin: auto;
    margin-top: -105px;
}
/* ////////////////////////////////////////////////////////////////// */
.offer{
    /* background-color: lightslategray; */
    margin-bottom: 5%;
}
.we_offer{
    text-align: center;
    margin-bottom: 40px;
}
.we_offer h2{
    font-size: 40px;
}
.container1{
   width: 80%; 
    margin: auto;
    overflow: auto;
    position: relative;
}
.container1 p{
font-size: 17px;
}
.container2{
    width: 80%; 
     margin: auto;
     overflow: auto;
     
 }
 .container2 p{
 font-size: 17px;
 }
.types{
    /* width: 35%; */
    border: 2px solid rgb(12, 90, 121);
    float: left;
    padding: 2%;
    margin: 20px 0px;
    position: relative;
}
.types::after , .types1::after , .types2::after {
    position: absolute;
    content: "";

    width: 100% ;
    height: 0 ;
    top: 0;
    left: 0;
    background-color:  rgb(3, 139, 180) ;
    opacity: 0;
    transition: 1s;
}
.types:hover::after ,.types1:hover::after , .types2:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.3 ;
}
.types1, .types2 {
    /* width: 35%; */
    border: 2px solid rgb(12, 90, 121);
    float: left;
    padding: 2%;
    margin: 20px 20px;
    position: relative;
}

#programming{
    float: left;
    color: rgb(7, 122, 217);
    font-size: 30px;
    margin-right: 10px;
}
.offer .App_paragraph{
    font-size: 25px;
}

/*///////////////////////////////////////////////////////////////*/
.special_offers{
    margin-bottom: 8%;
}
.special{
    text-align: center;
    margin: 4% 0% 3% 0%;
    line-height: 1.3;
}
.header_specialOffer{
    font-size: 40px;
}
.special p{
  color: rgb(123, 123, 123);
}
.image_specialOffers{
    overflow: auto;
    width: 99%;
    margin: auto;

}

.image_specialOffers img {
    width:300px;
}

.image_special{
    background-color: rgb(232, 232, 232);
    float: left;
    margin-right:10px ;

}
.image_special1{
    background-color:rgb(232, 232, 232);
    float: left;
    margin-right:10px ;
    margin-left:17px ;

}
.image_special6{
    background-color:rgb(232, 232, 232);
    float: left;

}
.image_special1:hover{
    background-color:rgba(10, 33, 61, 0.7);
    padding: 2px;
    color: aliceblue;

}
.image_special:hover{
    background-color:rgba(10, 33, 61, 0.7);
    padding: 2px;
    color: aliceblue;
    
}
.image_special6:hover{
    background-color:rgba(9, 29, 53, 0.7);
    padding: 2px;
    color: aliceblue;
}

.text_special{
    padding: 10px;
}
/*///////////////////////////////////////////////////////////////*/
.big_icons{
   background-color: rgba(0, 0, 0, 0.7);
    background-image: url(../images/modern-luxury-hotel-office-reception-lounge-with-meeting-room.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 3%;
}
.overlay_icon{
    background-color: rgba(0, 0, 0, 0.5);
}
.iconss{
    width: 90%;
    text-align: center;
    margin: 2% 0% 5% 0%;
    overflow: auto;
    margin: auto;
color: aliceblue;
}
#ico1{
    font-size: 40px;
    color: aliceblue;
}
.ico h2{
 font-size: 40px;
}
.ico{
    float: left;
    margin: 10%;
}
/*///////////////////////////////////////////////////////////////*/

.tabl{
    text-align: center;
    margin-top: 40px;
}
.Pric{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;

}
.table_price{
    margin-bottom: 5%;
}
.content{
    /* margin: 100px 0px; */
    width: 75%;
    margin: auto;
    padding-top: 80px;
    overflow: auto;
}
.first{
    width: 300px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(3, 114, 148);
    border-radius:20px ;
   text-align: center;
   float: left;
   margin-left: 250px;
   margin-top: 40px;
   padding: 10px;
}
/* .first:hover{
    background-color: rgb(16, 1, 27);
    border: 6px solid rgb(12, 90, 121);
} */
.basic{
    text-transform:uppercase; 
    margin-bottom: 20px;
    padding-top: 10px;
    color: rgb(8, 134, 183);
    font-size: 25px;
}
.basic2{
    text-transform:uppercase; 
    margin-bottom: 20px;
    padding-top: 10px;
    color: rgb(217, 217, 217);
    font-size: 25px;   
}
.circle{
    width: 110px;
    height: 110px;
    border-radius:50%;
    border: 2px solid rgb(8, 134, 183);
    margin: auto;
}
.circle:hover{
    color: rgb(255, 255, 255);
  
}
.num{
    font-size: 55px;
    font-weight: bold;
    margin-top: -95px; 
}
.num2{
    font-size: 55px;
    font-weight: bold;
    margin-top: -95px; 
    color: #ececec;
}
.circ{
    color:rgb(0, 0, 0);
}
.mon{
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px; 
  text-transform:uppercase;     
}
.mon2{
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px; 
    text-transform:uppercase; 
    color: #ececec;
}
.paragraph{
    margin-top: 40px;
    font-size: 20px;
    color: rgb(137, 136, 136);
    padding: 10px;
    font-size: 25x;
    line-height: 1.8;
    margin-bottom: 10px;
}
.paragraph2{
    margin-top: 40px;
    font-size: 23px;
    color: rgb(188, 188, 188);
    padding: 10px;
    font-size: 25x;
    line-height: 1.8;
    margin-bottom: 10px;
}
.purchase{
    width: 150px;
    height: 45px;
    padding: 4px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(8, 134, 183);
    color:rgb(8, 134, 183);
    background-color: rgb(255, 255, 255);
}
.purchase:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 102, 137);
}
.second{
    width: 350px;
    height: 500px;
    background-color: rgb(3, 102, 137);
    border: 2px solid rgb(3, 114, 148);
    border-radius:20px ;
   text-align: center;
   float: left;
   padding: 40px;
}
.third{
    width: 300px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(3, 114, 148);
    border-radius:20px ;
   text-align: center;
   float: left;
   margin-top: 40px;
   padding: 10px;
}
/*///////////////////////////////////////////////////////////////////*/
.big_managers{
    background-image: url(../images/top-viewtop-view-manager-employee-doing-teamwork-business-office-looking-charts-laptop-display_482257-2443.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.overlay_managers{
    background-color: rgba(0, 0, 0, .8);
}
.managers{
    overflow: auto;
    width: 70%;
    margin: auto;
    padding: 5%;
    color: rgb(255, 255, 255);
}
.manager{
    float: left;
    margin-right: 12%;
}
.fir_manag1{
    overflow: auto;
    margin-bottom: 15px;
}
.fir_manag{
float: left;
}
.head{
    margin-top: 15px;
    
}
.heade{
    font-size: 30px;
}
.para_manger{
    font-size: 17px;
}
.manager img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
.para_manger1{
    font-size: 20px;
}
.manager1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
/*///////////////////////////////////////////////////////////////////*/
.hotel_info{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}
.container {
    width: 80%;
    margin: auto;
}
.hotel-content{
    margin: 5% 0%;
}
.hotel-item {
    float: left;
    background-color: rgba(11, 165, 212, .2);
    width: 30%;
    padding: 14px  10px;
    text-align: center;
    position: relative;
}
.dd {
    margin: 0px  5%;
}
.hotel-img {
    width: 80%;
    margin: auto;
    position: relative;
    
}
.hotel-img  img {
    width: 100%;
}
.hotel-overley {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5) ;
    visibility: hidden;
    opacity: 0 ; 
    transition: 1s ;    
}

.hotel-item:hover  .hotel-overley {
    opacity: 0.8 ;
    visibility: visible;
    
}
.hotel-overley  a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 81, 132);
    color: #fff;
    font-size: 23px;
    margin-left: auto ;
}
.hotel-overley  a  i  {
    line-height: 40px ;
}
.hotel-item::before {
    position: absolute;
    content: "";

    width: 100% ;
    height: 0 ;

    top: 0;
    left: 0;

    background-color: rgb(0, 0, 0) ;
    opacity: 0;
    transition: 1s;
}
.hotel-item:hover::before {
    width: 100%;
    height: 100%;
    opacity: 0.5 ;
}

/* ////////////////////////////////////////////////////////// */
.footer_section{
    text-align: center;
    margin-top: 5%;
    background-color: rgb(168, 168, 168);
    padding: 20px 0px;
}
.footer_section img{
width: 150px;
height: 150px;
border-radius: 50%;
}
#luxury{
    font-size: 27px;
color: aliceblue;
padding: 5;
margin: 15px 0px;
}
#luxury:hover{
    background-color: rgba(255, 255, 255, 0.3);
   color: rgb(45, 164, 255); 
    border-radius: 20%;
}.cirmedia_icon{
    overflow: auto;
    margin: auto;
    padding: 5px;
}
.cir_icon{
    width: 25px;
    height: 25px;
    float: left;
    border-radius: 50%;
    /* background-color: rgb(0, 57, 107); */
    background-color: rgb(45, 164, 255); 
    margin: 5px;

}
/*/////////////////////////////////////////////////////////////////////////////*/